span {
  text-align: center;
  display: inline-block;
  width: 100%;
}

span.title {
  font-size: 11px;
  color: purple;
}

span.price {
  font-size: 14px;
  color: black;
}

span.qty {
  background-color: white;
  width: 100px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media all and (max-width: 800px) {
  .flex-container {
    justify-content: flex-start;
  }
}

.flex-item {
  width: 300px;
  height: 400px;
  margin: 5px;
}

img {
  width: 100%;
  height: 250px;
}

mat-card {
  height: 90%;
  background-color: white;
}

mat-option {
  background-color: purple;
  color: white;
}

mat-option:hover {
  background-color: lightgray !important;
  color: purple;
}

mat-select {
  width: 80px;
  padding: 5px;
  background-color: grey;
}
