<app-toolbar></app-toolbar>
<div *ngIf="products" class="flex-container" fxLayout.xs="column">
  <div *ngFor="let product of products | async" class="flex-item">
    <mat-card>
      <a [routerLink]="['/shop/product', product.id]">
        <span>
          <img src="{{ product.image }}" />
        </span>
      </a>
      <mat-card-content>
        <span class="title">{{ product.title.substr(0, 30) }}</span>
        <span class="price">${{ product.price }}</span>
        <span>
          <form (ngSubmit)="addToCart(product.id, product)">
            <p>
              <span class="qty">
                <mat-select [value]="1">
                  <mat-option *ngFor="let qty of quantities" [value]="qty">
                    {{ qty }}
                  </mat-option>
                </mat-select>
              </span>
            </p>
            <p>
              <button mat-flat-button color="primary" type="submit">
                Add to cart
              </button>
            </p>
          </form>
        </span>
      </mat-card-content>
    </mat-card>
  </div>
</div>
