<app-toolbar></app-toolbar>
<div class="cart-container">
  <div class="cart-item-details" *ngFor="let item of cart | keyvalue">
    <img class="img" src="{{ item.value.product.image }}" />
    <div class="cart-item">
      <strong>{{ item.value.product.title }}</strong>
    </div>
    <div class="cart-item">${{ item.value.product.price }}</div>
    <form class="cart-item">
      Amount:
      <input
        class="number-input"
        min="0"
        name="amount"
        type="number"
        value="{{ totalPrice }}"
        (ngModelChange)="getTotal()"
      />
    </form>
  </div>
</div>
